<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap.min.css}">
    <title>게시판</title>
</head>
<body>
<div class="container my-3">
    <table class="table">
        <thead class="table-dark">
        <tr>
            <th>번호</th>
            <th>제목</th>
            <th>작성일시</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="post, loop : ${postList}">
            <td th:text="${loop.count}"></td>
            <td>
                <a th:href="@{|/detail/${post.id}|}" th:text="${post.subject}"></a>
            </td>
            <td th:text="${#temporals.format(post.createDate, 'yyyy-MM-dd HH:mm')}"></td>
        </tr>
        </tbody>
    </table>
    <a th:href="@{/posting}" class="btn btn-primary" >작성하기</a>
</div>
</body>
</html>